.required {
  color: red;
}
option {
  width: 100%;
  background-color: black;
  padding: 5px;
}
.select {
  border-radius: 4px;
  width: 90%;
  height: 40px;
  color:white;
  display: block;
  border: 2px solid white;
  text-indent: 5px;
}
.select.changed:focus-visible,
.select.changed {
  border: 2px solid red !important;
  outline: none;
}
option {
  margin-left: 10px;
  text-align: center;
}
.divclass {
  margin: 10px auto;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.addButton {
  border-radius: 4px;
  border: 2px solid white;
  width: 8%;
  height: 40px;
  font-size: x-large;
}
.addButton:disabled {
  border: 2px solid grey;
  color: grey;
}
.label {
  text-align: center;
}
.list{
  border: 2px solid white;
  border-radius: 4px;
  width:90%;
  margin:0 auto;
}
.listedPharmacies {
  width:90%;
  margin: 5px 0px;
}
.listedPharmaciesDiv {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 90%;
  margin:0 auto;
}
.deleteButton {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
